*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#pageContainer{
    width: 18%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 300px;
}

#header{
    display: flex; 
    flex-flow: column wrap;
    height: 40px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    font-family: Helvetica;        
    padding: 10px;    
    color: black;
    text-shadow: 1px 1px 0px #ccc;
}

.logo{
    flex-grow: 1;
    flex-basis: 10%;       
    font-size: 7px;        
    color: black;
    text-shadow: 1px 1px 0px #ccc;   
}

.title{
    flex-grow: 1;
    flex-basis: 15%;
    text-align: right;
    font-size: 7px;
    text-transform: uppercase;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#form1{
    display: flex; 
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 17px;
}

.cell{
    flex-grow: 1;
    flex-basis: calc((100% /6));
    width: 29px;
    height: 40px; /*improvement*/
    /*font-size: 11px;  improvement*/
    overflow: hidden;  
}

.multiDigit{
    display: flex; 
    flex-flow: row wrap;
    align-items: center;
    overflow: hidden;
}

.element{
    font-size: 8px;
    flex-basis: calc((100% /3));
}

.cellDigit{
    font-size: 16px;
}