body{
    font-family: sans-serif;
    text-align: center;
}

#website-areas *{
    margin: 0px;
    padding: 0px;
}

#website-areas{
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 70px;
    grid-template-areas: 
        "cabecera cabecera cabecera"        
        "form1 form1 form1"
        "pie pie  pie ";
    gap: 10px;
    width: 60%;
    /*height: 100vh; takes the whole browser page height*/
    height: 500px;
    border: 1px solid #ccc;
}

#website-areas #cabecera{
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    align-items: center;

    background: blue;
    color: white;
}
#website-areas contenido{
    width: 100%;
}

#website-areas #form1{    
    grid-area: form1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    padding: 20px;
    background: #eee;
}

#website-areas #form1 input{    
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding: 20px;
    border: 4px solid#222;
}

#website-areas #pie-pagina{
    grid-area: pie;
    background: black;
    color: white;
}

.regularBGColor {
	background-color: #f0f8ff !important;	
}

.specialBGColor {
	background-color: #d3d3d3 !important;
}

.setBGColorToRed {
	background-color: red;
}

.setBGColorToGreen {
	background-color: #32cd32;
}

