*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/*-----------------------ejercicio completo con areas ----------------*/
#website-areas *{
    margin: 0px;
    padding: 0px;
}

#website-areas{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera"
        "menu menu menu menu menu"
        "lateral contenido contenido contenido contenido "
        "pie pie  pie pie pie";
    gap: 20px;
    width: 75%;
    /*height: 100vh; takes the whole browser page height*/
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#website-areas #cabecera{
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    align-items: center;

    background: blue;
    color: white;
}

#website-areas #menu{
    grid-area: menu;
    background: lightblue;
    color: black;
    line-height: 70px;
}

#website-areas #menu ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;    
}

#website-areas #contenido{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
    background: #eee;
}

#website-areas #contenido article{
    background: #ccc;
    border: 1px solid #555;
}

#website-areas #lateral{
    grid-area: lateral;
    background: orange;
    color: white;
}

#website-areas #pie-pagina{
    grid-area: pie;
    background: black;
    color: white;
}

