/*to set background color for odd and even rows.*/
table.dataTable tr.even td.sorting_1 {
    background-color: #F0F1F8;    
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #81818C;
    color: white;
}